<!-- PRECISA SER AJUSTADO MAIS TARDE -->

<div class="card-aluno">
    <div class="est-linha-1">
        <div class="rotulo">Nome:</div>
        <div class="campo-nome">Nome do Camarada</div>
    </div>
    <div class="est-linha-2">
        <div class="rotulo">Matrícula:</div>
        <div class="campo">000000000</div>
        <div class="rotulo">CPF:</div>
        <div class="campo">000000000</div>
    </div>
    <div class="est-linha-2">
        <div><span class="rotulo">Nota 1: </span> <span class="campo">0.0</span></div>
        <div><span class="rotulo">Nota 2: </span> <span class="campo">0.0</span></div>
        <div><span class="rotulo">Média: </span> <span class="campo">0.0</span></div>
        <div class="rotulo">
            <span class="btn-edit">EDIT</span>
            <span class="btn-del">DEL</span>
        </div>
    </div>
</div>